.container-margin{
    margin-top: 5em;
    margin-bottom: 5em;
}


 a{
    text-decoration: none;
}

 body {
    background-color: #fefefe;
    padding-top: 50px;

}
body{
  display:flex;
  flex-direction:column;
  min-height:100vh;
}




footer{
   background-color: #ddfcfc;
background-image: linear-gradient(180deg, #ddfcfc 17%, #ffffff 93%);

font-size: 0.8rem;

}
.wrapper{
  flex:1;
}
 .scroll::-webkit-scrollbar {
    display: none;
}

form > .alert > ul > li {
    list-style: none;
}

