{% extends "review/base.html" %}

{% block body %}


<div class="container container-margin">
     <div class="align-items-center mb-3 p-2">
        <div class="row m-2">
             <div class="col-8">
                <div ><i class="fa-regular fa-circle-user fa-5x me-3"></i><h2 class="d-inline">{{ user.username }}</h2></div>
            </div>
        </div>
     </div>



                            {% for post in posts %}
                                <div class="row shadow-lg bg-body rounded m-3 p-3">
                                    <div class="col-8">

                                        <h4 class="d-inline">{{ post.movieTitle }} </h4>
                                        <p></p>
                                        <p>{{ post.details }}</p>

                                    </div>
                                    <div class="col-4 text-end">
                                        <a href="{% url 'update' post.id 'account'%}" class="btn btn-sm btn-outline-success m-1"> Update </a>
                                        <a href="{% url 'delete' post.id 'account'%}" class="btn btn-sm btn-outline-danger m-1"> Delete </a>
                                        <a href="{% url 'posts' post.movieId %}" class="btn btn-sm btn-outline-info m-1">View Post</a>
                                    </div>
                                </div>
                                {% empty %}
                                    <h3>No reviews yet</h3>
                            {% endfor %}

    </div>




{% endblock %}