{% extends 'review/base.html' %}
{% load crispy_forms_tags %}

{% block body %}

    <form action="{% url 'add' movie_id movie_title%}" method="post" role="add">
        {% csrf_token %}
        <div class="row  mt-3  mx-5 px-5 align-items-center d-flex justify-content-center">


                <div class="col">
                      <div class="card">
                          <div class="card-header">
                            New Review
                          </div>
                          <div class="card-body">
                            <h5 class="card-title">Review</h5>
                              {{ form.details.label }}
                              {{ form.details }}
                              <select hidden name="authorId" required="" id="id_authorId">
                                  <option value="" selected="">---------</option>
                                  <option selected="selected" value="{{ user.id }}"></option>
                              </select>
                              <input hidden value="{{ user.username }}" type="text" name="author" maxlength="200" required="" id="id_author">
                              <input hidden value="{{ movie_id }}" type="text" name="movieId" maxlength="200" required="" id="id_movieId">
                              <input hidden value="{{ movie_title }}" type="text" name="movieTitle" maxlength="200" required="" id="id_movieTitle">
                            <button type="submit" class="btn btn-primary mt-3" id="trigger-event"><i class="fas fa-save"></i> Save</button>
                          </div>
                      </div>

                </div>


        </div>

    </form>

{% endblock %}