{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Reviews</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
  <body class="bg-white scroll">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}"><i class="fa-solid fa-tv m-2"></i>WatchBox</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <form class="d-flex pt-2" action="{% url 'index' %}" method="post"  role="search">
                        {% csrf_token %}
                        <input class="form-control  me-2" placeholder="Search movies" aria-label="Search your favorite movies" type="text" name="term" maxlength="200" required="" id="id_term">
                        <select hidden name="userId" required="" id="id_userId">
                          <option selected="selected" value="{{ user.id }}"></option>
                        </select>
                        <button class="btn btn-outline-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
                              <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                              <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
                            </svg>
                        </button>
                   </form>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#"
                           role="button" aria-expanded="false">{{  user.username}}</a>
                        <ul class="dropdown-menu">
                            <li> <a class="dropdown-item" href="{% url 'account' %}">Account</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li> <a class="dropdown-item" href="{% url 'logout' %}">Logout</a> </li>
                        </ul>
                    </li>
              </ul>

                {% else %}
                   <a class="btn btn-light btn-outline-primary m-2" href={% url 'login' %}><i class="fa-solid fa-arrow-right-to-bracket"></i> Login</a>
                    <a class="btn btn-light btn-outline-primary m-2" href={% url 'register' %}><i class="fa-regular fa-circle-user"></i> Register</a>
                {% endif %}

            </div>
        </div>
    </nav>

<div class="wrapper">
{% block body %}
{% endblock %}
</div>



  <footer class="pt-4 my-md-5 pt-md-5 ">
        <div class="row">
          <div class="col ">

          </div>
          <div class="col ">
            <h5>Contact</h5>
            <ul class="list-unstyled text-small">
                <li>Pedro Arias</li>
                <li>
                    <a class="text-muted" href="mailto: pedroa@my.ccsu.edu">
                      <small>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                            </svg>
                            pedroa@my.ccsu.edu
                        </small>
                  </a>
                </li>
                <li>Dejah Murray</li>
                <li>
                    <a class="text-muted" href="mailto: dejahmurray@my.ccsu.edu">
                      <small>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                            </svg>
                            dejahmurray@my.ccsu.edu
                        </small>
                    </a>
                </li>
            </ul>
          </div>
          <div class="col  ">
            <h5></h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
            </ul>
          </div>
          <div class="col  ">
            <h5>&copy Copyright 2022</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">All Rights Reserved.</a></li>
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
              <li><a class="text-muted" href="#"></a></li>
            </ul>
          </div>
          <div class="col ">

          </div>
        </div>
      </footer>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>
    <script>

          $('#id_term').typeahead({
            source: ["",{% if searchTerms.0 != '' %}
                         {% for search in searchTerms %}
                        "{{search.term}}",
                        {% endfor %}
                   {% endif %}]
          });
    </script>

  </body>
</html>