{% extends "review/base.html" %}

{% block body %}
    <div class="row align-items-center shadow-lg  mb-3 bg-body rounded p-2">
        <div class="row row-cols-1 row-cols-lg-4 g-2 p-4">
            {% for movie in movies %}
                <div class="col">
                          <div class="card h-100" style="width: 18rem">
                            <img src="{{ movie.Poster }}" class="card-img-top" alt="{{ movie.Title }}">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ movie.Title }}</h5>

                                      <p class="card-text">
                                          Year of release: {{ movie.Year }}
                                      </P>

                                    <a href="#" class="btn btn-info">View Details &raquo;</a>
                                  </div>
                           </div>
                </div>
            {% endfor %}
        </div>

    </div>




{% endblock %}