{% extends "review/base.html" %}

{% block body %}


        <div class="row align-items-center shadow-lg p-3 mb-3 bg-body rounded p-4">

              <div class="col-lg-8">
                <h1 class="fw-bold text-dark text-opacity-75">Movie Review</h1>
                <p class="lead">
                  Film criticism is the analysis and evaluation of films and the film medium. In general, film
                    criticism can be divided into two categories: journalistic criticism that appears regularly in newspapers,
                    magazines and other popular mass-media outlets; and academic criticism by film scholars who are informed by
                    film theory and are published in academic journals.
                </p>
              </div>

              <div class="col-lg-4 text-center" style="width: 18rem">
                <img src="images/cinema.png" class="img-fluid" alt="guy watching movie on a couch">
              </div>
        </div>

    <div class="row align-items-center shadow-lg  mb-3 bg-body rounded p-2">
        <div class="row row-cols-1 row-cols-lg-4 g-2 p-4">
            {% for movie in movies %}
                <div class="col">
                          <div class="card h-100" style="width: 18rem">
                            <img src="{{ movie.Poster }}" class="card-img-top" alt="{{ movie.Title }}">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ movie.Title }}</h5>

                                      <p class="card-text">
                                          Year of release: {{ movie.Year }}
                                      </P>

                                    <a href="{% url 'posts' movie.imdbID %}" class="btn btn-info">View Details &raquo;</a>
                                  </div>
                           </div>
                </div>
            {% endfor %}
        </div>

    </div>




{% endblock %}