{% extends "review/base.html" %}
{% block body %}
<div class="container container-margin" >
      <div class="row align-items-center shadow-lg p-3 mb-3 bg-body rounded p-5">
             <div class="col-lg-4">

                 <div class="card h-100 mx-auto mb-3" style="width: 18rem">
                            <img src="{{ movie.Poster }}" class="card-img-top" alt="{{ movie.Title }}">
                                  <div class="card-body">
                                    <h5 class="card-title">{{ movie.Title }}</h5>
                                      <p class="card-text">
                                          Year of release: {{ movie.Year }}
                                      </p>
                                      <p class="card-text">Genres: {{ movie.Genre}}</p>
                                  </div>
                           </div>
            </div>

            <div class="col-lg-8 ">
                   <p class="lead">{{ movie.Plot }}</p>
                    <p><strong>Directors:</strong> {{ movie.Director }}</p>
                    <p><strong>Actors:</strong> {{ movie.Actors }}</p>
                    <p><strong>Metascore:</strong> {{ movie.Metascore }}</p>
                    <p><i class="fa-solid fa-trophy"></i><strong>Awards:</strong> {{ movie.Awards }}</p>
                    <p><strong>Motion Picture Rating (MPAA):</strong> {{ movie.Rated }}</p>
                    <p><strong>Box Office Earnings:</strong> {{ movie.BoxOffice }}</p>
                    <p><strong>Duration:</strong> {{ movie.Runtime }}</p>
                    <p><strong>Language: </strong>{{ movie.Language }}</p>
            </div>
      </div>

</div>




    <!-- Comment Section starts here -->
    <div class="container">
     <div class="align-items-center shadow-lg  mb-3 bg-body rounded p-2">
     <div class="row m-2">
         <div class="col-8">
            <i class="fa-solid fa-users fa-3x"></i>
            <h2 class=" d-inline m-2">User Reviews</h2>
        </div>

     </div>
      <div class="row m-2">
         <div class="col-8">
              {% if user.is_authenticated %}
                 <form class=" pt-2" action="{% url 'add' movie.imdbID%}" method="post" role="add">
                {% csrf_token %}
                  <textarea class="form-control  me-2" placeholder="Add a comment" type="text" name="details" maxlength="200" required="" id="id_details"></textarea>
                   <select  hidden name="authorId" required="" id="id_authorId">
                    <option value="" selected="">---------</option>
                       <option selected="selected" value="{{ user.id }}"></option>
                     </select>
                    <input hidden value="{{ user.username }}" type="text" name="author" maxlength="200" required="" id="id_author">
                    <input hidden value="{{ movie.imdbID }}" type="text" name="movieId" maxlength="200" required="" id="id_movieId">
                    <input hidden value="{{ movie.Title }}" type="text" name="movieTitle" maxlength="200" required="" id="id_movieTitle">

                <button class="btn btn-outline-secondary" type="submit"> Comment </button>
            </form>
              {% else %}
                   <h4 class="m-2 text-primary text-opacity-75">Sign in to add a comment</h4>
              {% endif %}
        </div>

     </div>


                            {% for post in posts %}
                                <div class="row shadow-lg bg-body rounded m-3 p-3">
                                    <div class="col-8">
                                        <i class="fa-regular fa-circle-user fa-2x"></i>
                                        <h4 class="d-inline">{{ post.author }} </h4>
                                        <p></p>
                                        <p>{{ post.details }}</p>

                                    </div>
                                    <div class="col-4 text-end">
                                         {% if user.username == post.author %}
                                            <a href="{% url 'update' post.id 'posts'%}" class="btn btn-sm btn-outline-success m-1"> Update </a>
                                            <a href="{% url 'delete' post.id 'posts'%}" class="btn btn-sm btn-outline-danger m-1"> Delete </a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% empty %}
                                    <h3>No reviews yet</h3>
                            {% endfor %}
        </div>
    </div>


{% endblock %}